In [ ]:
import pandas as pd
import yfinance as yf
import environment
import nasdaqdatalink # this is now the quandl API

nasdaqdatalink.ApiConfig.api_key = environment.API_KEY

In [16]:
#data = nasdaqdatalink.get_table("FRED/GDP") # only get_table works, not get

In [40]:
# Download Apple stock data for the last 5 years
aapl = yf.Ticker("AAPL")
df = aapl.history(period="5y")

# Preview the data
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-03-23 00:00:00-04:00,55.350235,55.452160,51.595990,54.449894,336752800,0.0,0.0
2020-03-24 00:00:00-04:00,57.359621,60.109175,56.859702,59.912605,287531200,0.0,0.0
2020-03-25 00:00:00-04:00,60.851760,62.671853,59.286481,59.582550,303602000,0.0,0.0
2020-03-26 00:00:00-04:00,59.825238,62.776212,59.786409,62.717972,252087200,0.0,0.0
2020-03-27 00:00:00-04:00,61.337124,62.094282,59.953854,60.121304,204216800,0.0,0.0

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2020-03-23 00:00:00-04:00 to 2025-03-21 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1257 non-null   float64
 1   High          1257 non-null   float64
 2   Low           1257 non-null   float64
 3   Close         1257 non-null   float64
 4   Volume        1257 non-null   int64
 5   Dividends     1257 non-null   float64
 6   Stock Splits  1257 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.6 KB

In [46]:
df.resample("A").last()

/tmp/ipykernel_20/3941829170.py:1: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  df.resample("A").last()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-12-31 00:00:00-05:00,130.966795,131.611474,128.661591,129.609070,99116600,0.0,0.0
2021-12-31 00:00:00-05:00,175.027312,176.147707,174.211584,174.516266,64062300,0.0,0.0
2022-12-31 00:00:00-05:00,126.934142,128.456435,125.965402,128.436661,77034200,0.0,0.0
2023-12-31 00:00:00-05:00,192.742785,193.239801,190.585738,191.380966,42628800,0.0,0.0
2024-12-31 00:00:00-05:00,252.162760,253.001833,249.156056,250.144974,39480700,0.0,0.0
2025-12-31 00:00:00-05:00,211.559998,218.839996,211.279999,218.270004,93954500,0.0,0.0