In [1]:
import pandas as pd
import yfinance as yf
import environment
import nasdaqdatalink # this is now the quandl API

nasdaqdatalink.ApiConfig.api_key = environment.API_KEY

In [6]:
#data = nasdaqdatalink.get_table("FRED/GDP") # only get_table works, not get

In [2]:
# Download Apple stock data for the last 5 years
aapl = yf.Ticker("AAPL")
df = aapl.history(period="5y")

# Preview the data
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-04-20 00:00:00-04:00,67.452638,68.357826,67.185690,67.205101,130015200,0.0,0.0
2020-04-21 00:00:00-04:00,67.047361,67.282760,64.414293,65.127769,180991600,0.0,0.0
2020-04-22 00:00:00-04:00,66.399409,67.440504,66.057238,67.003685,116862400,0.0,0.0
2020-04-23 00:00:00-04:00,66.947868,68.374822,66.705189,66.744019,124814400,0.0,0.0
2020-04-24 00:00:00-04:00,67.270620,68.680585,67.222082,68.670876,126161200,0.0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2020-04-20 00:00:00-04:00 to 2025-04-17 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1257 non-null   float64
 1   High          1257 non-null   float64
 2   Low           1257 non-null   float64
 3   Close         1257 non-null   float64
 4   Volume        1257 non-null   int64
 5   Dividends     1257 non-null   float64
 6   Stock Splits  1257 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.6 KB

In [4]:
df.resample("A").last()

/tmp/ipykernel_46/3941829170.py:1: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  df.resample("A").last()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-12-31 00:00:00-05:00,130.966764,131.611443,128.661561,129.609039,99116600,0.0,0.0
2021-12-31 00:00:00-05:00,175.027312,176.147707,174.211584,174.516266,64062300,0.0,0.0
2022-12-31 00:00:00-05:00,126.934142,128.456435,125.965402,128.436661,77034200,0.0,0.0
2023-12-31 00:00:00-05:00,192.742785,193.239801,190.585738,191.380966,42628800,0.0,0.0
2024-12-31 00:00:00-05:00,252.162760,253.001833,249.156056,250.144974,39480700,0.0,0.0
2025-12-31 00:00:00-05:00,197.199997,198.833496,194.419998,196.979996,51275970,0.0,0.0

In [11]:
df.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000
mean,161.109913,162.928140,159.432153,161.266260,8.280775e+07,0.003644,0.003182
std,40.183788,40.478619,39.942618,40.253002,4.278251e+07,0.028734,0.112822
min,66.399409,67.282760,64.414293,65.127769,2.323470e+07,0.000000,0.000000
25%,133.070082,134.544159,131.386979,133.387527,5.342310e+07,0.000000,0.000000
50%,158.507915,160.761032,156.504100,158.840561,7.224670e+07,0.000000,0.000000
75%,184.949573,186.430000,182.822370,185.071808,9.867070e+07,0.000000,0.000000
max,257.906429,259.814335,257.347047,258.735504,3.743368e+08,0.250000,4.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2020-04-20 00:00:00-04:00 to 2025-04-17 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1257 non-null   float64
 1   High          1257 non-null   float64
 2   Low           1257 non-null   float64
 3   Close         1257 non-null   float64
 4   Volume        1257 non-null   int64
 5   Dividends     1257 non-null   float64
 6   Stock Splits  1257 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.6 KB

In [20]:
h5 = pd.HDFStore("data/data.h5", "w")
h5["data"] = df
h5.close()

In [22]:
h5.info()

"<class 'pandas.io.pytables.HDFStore'>\nFile path: data/data.h5\nFile is CLOSED"

In [28]:
h5 = pd.HDFStore('data/data.h5', 'r')
data_copy = h5['data']
data_copy.info()
h5.close()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2020-04-20 00:00:00-04:00 to 2025-04-17 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1257 non-null   float64
 1   High          1257 non-null   float64
 2   Low           1257 non-null   float64
 3   Close         1257 non-null   float64
 4   Volume        1257 non-null   int64
 5   Dividends     1257 non-null   float64
 6   Stock Splits  1257 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.6 KB

In [ ]:
# this apparently requires more overhead
df.to_hdf("data/data.h5", "data", format="table")
# however, we can work with it on disk as if it was a normal pytable